html{height: 100%;
    box-sizing: border-box;}
  body {
    font-family: "robotoregular","robotolight"  !important;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    margin: 0;
  }

.row__expanded{
  background-color: #ffffff;

  label{
    font-size: 16px;
    font-family: 'robotobold'
  }
}

.row__expanded .events__details {
  label{
    font-size: 14px;
  }
  span {
    font-family: 'robotolight'
  }
}

  
 thead th {
    padding: 12px 10px !important;
    font-size: 17px;
    font-family: robotobold;
    color: #005181;
}
tbody>tr>td {
    padding: 8px 12px;
    font-family: robotolight;
    color: #000000;
}

.add__event{
  width: 217px;
  height: 38px;
}

.events__details{
  display: flex;
  flex-direction: column;
  padding: 10px 13px;
}

.job__report{
  margin-top: 45px;
}



.job__description{
    width: 100%;
    height: 304px;
    border-radius: 15px;
    background-color: rgba(77, 184, 234, 0.3);
}

 tbody tr td:nth-child(2) {
   font-family: robotoregular;
}


 tbody tr{
  background-color: #ffffff
}


 .jobs tbody tr.active{
   background-color: #005181;
   border-bottom: 0;
   td{
    color:#ffffff;
   }
   input {
     color:#3c3c3c
   }
}




table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table > tbody > tr {
  border-bottom: 2px solid #4db8e9;
}

table > thead > tr > th {
  vertical-align: bottom;
}


  
  