.listing-panel {
  .search-panel {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
    input {
      font-family: robotolight;
      font-size: 23px;
      border: 1px solid #000000;
    }
    img {
      position: absolute;
      left: 234px;
      height: 24px;
    }
  }

  .assestments {
    .assestment__type {
      background-color: #0f9014;
      color: #ffffff;
    }

    .expander {
      background-color: #005181;
      padding: 8px 0;
    }
  }

  .row__expanded {
    .react-tabs {
      text-align: start;
    }
    .react-tabs__tab {
      padding: 16px 30px;
      color: #ffffff;
      background-color: #005181;
      font-family: robotobold;
      margin-right: 5px;
      font-size: 12px;
      border-radius: 4px;

      &.react-tabs__tab--selected {
        color: #005181;
        background-color: #ffffff;
      }
    }
  }

  .assestment-details {
    padding: 12px;
    border-radius: 5px;
    margin: 7px 7px;
    border: 1px solid;
    font-size: 13px;
    font-family: robotoregular;
    display: flex;
    flex-direction: column;
    text-align: center;

    .second_element {
      font-size: 19px;
      font-family: robotobold;
      margin-top: 11px;
    }
  }

  button {
    color: #ffffff;
    background-color: #005181;
    font-size: 14px;
    font-family: robotobold;
    width: 100%;
    padding: 9px 0;
    border-radius: 5px;
    border: 0;
  }

  .upload_details {
    background-color: #000000;
  }

  .participant-listing {
    margin-top: 10px;

    .participant-details {
      margin: 0px 20px;
      font-size: 17px;
      padding: 10px 12px;
      display: flex;
      align-items: center;
      border: 1px solid;
    }

    .reports {
      color: #ffffff;
      background-color: #005181;
      font-size: 14px;
      font-family: robotobold;
      margin: 0 18px;
      padding: 9px 0;
      border-radius: 5px;
      border: 0;
    }
  }
}
